# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs and Vi backup files
*~
*.swp

# ROOT files and figures that may end up here
*.root
*.pdf
*.png

# Compiled Python
*.pyc
__init__.py